/* COMMON */
img {
    max-width: 100%;
}

section, footer[class*="-section"] {
    padding: 2rem 0;
}

.ms-container-small {
    width: 60%;
    margin: 0 auto;
}

/* HEADER */
header {
    height: 80px;
    line-height: 80px;
    background-color: #2c3e50;
    color: white;
}

.title {
    margin-bottom: 0;
}

header .nav li {
    margin-left: 1rem;
}

/* START SECTION */
.start-section {
    background-color: #1abc9c;
    color: white;
}

.profile-pic img {
    width: 250px;
}

/* PORTFOLIO SECTION */
.fa-bars {
    padding: .5rem .5rem;
}

.portfolio-section {
    color: #2c3e50;
}

.star i {
    font-size: 1.6rem;
}

.star {
    position: relative;
    display: inline-block;
    width: 100%;
}

.start-section .star::after, .start-section .star::before {
    background-color: white;
}

.star::after {
    content: "";
    width: 10%;
    height: 5px;
    position: absolute;
    background-color: #2c3e50;
    border-radius: 5px;
    top: 10px;
    left: 53%;
}


.star::before {
    content: "";
    width: 10%;
    height: 5px;
    position: absolute;
    background-color: #2c3e50;
    border-radius: 5px;
    top: 10px;
    right: 53%;
}

.img-card img{
    border-radius: 15px;
}

/* ABOUT-SECTION */
.about-section .star::after, .about-section .star::before {
    background-color: white;
}

.about-section {
    background-color: #1abc9c;
    color: white;
}

.about-card p {
    font-weight: 500;
}

.download-btn a {
    border: 1px solid white;
    color: white;
}

/* CONTACT SECTION */
.contact-section {
    color: #2c3e50;
}

label {
    color: #2c3e50;
    margin-top: .5rem;
}

form.ms-input.form-control{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid lightgrey;
}

.ms-btn {
    background-color: #1abc9c;
    color: white;
}

.btn:first-child:hover {
    background-color: white;
    color: #1abc9c;
    border: 1px solid #1abc9c;
}

/* FOOTER */
footer {
    color: white;   
}

.footer-top-section {
    background-color: #3a546d;
}

.social li {
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    list-style-type: none;
}

.highlighted {
    color:#1abc9c;
}

.footer-bottom {
    background-color: #2c3e50;
}